.red {
  color: red;
}
p span {
  color: red;
}

custom {
  border: 20px solid red;
}

.h1 {
  font-size: 4rem;
}

.username {
  padding: 10px;
  outline: 2px solid green;
  border-radius: 20px;
  border: none;
}