<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid System</title>
    <link rel="stylesheet" href="./assets/css/main.css">
</head>
<body>
   <header>
    <div class="container">
        <div class="header__nav">
            <div>
                <a href="">
                    Relume
                    <span>Ipsum</span>
                    <span>Bata</span>
                </a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="">Feature</a>
                    </li>
                     <li>
                        <a href="">Pricing</a>
                    </li>
                     <li>
                        <a href="">Learn</a>
                    </li>
                </ul>
            </nav>
            <button type="button">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-figma-icon lucide-figma"><path d="M5 5.5A3.5 3.5 0 0 1 8.5 2H12v7H8.5A3.5 3.5 0 0 1 5 5.5z"/><path d="M12 2h3.5a3.5 3.5 0 1 1 0 7H12V2z"/><path d="M12 12.5a3.5 3.5 0 1 1 7 0 3.5 3.5 0 1 1-7 0z"/><path d="M5 19.5A3.5 3.5 0 0 1 8.5 16H12v3.5a3.5 3.5 0 1 1-7 0z"/><path d="M5 12.5A3.5 3.5 0 0 1 8.5 9H12v7H8.5A3.5 3.5 0 0 1 5 12.5z"/></svg>
                </div>
                <span>Try for free</span>
            </button>
        </div>
    </div>
   </header>
   <main>
    <section>
        <div class="container">
            <div class="hero">
              <div class="hero__title">
                  <h1>
                    The <span>fastest</span> way to write copy for your <span>website</span>
                </h1>
              </div>
              <div class="hero__description">
                <p>Generate website copy quickly and easily using AI, all wothout leaving Figma</p>
              </div>
              <div class="hero__actions">
                <button type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-figma-icon lucide-figma"><path d="M5 5.5A3.5 3.5 0 0 1 8.5 2H12v7H8.5A3.5 3.5 0 0 1 5 5.5z"/><path d="M12 2h3.5a3.5 3.5 0 1 1 0 7H12V2z"/><path d="M12 12.5a3.5 3.5 0 1 1 7 0 3.5 3.5 0 1 1-7 0z"/><path d="M5 19.5A3.5 3.5 0 0 1 8.5 16H12v3.5a3.5 3.5 0 1 1-7 0z"/><path d="M5 12.5A3.5 3.5 0 0 1 8.5 9H12v7H8.5A3.5 3.5 0 0 1 5 12.5z"/></svg>
                    <span>Try for free</span>
                </button>
                <button type="button">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-play-icon lucide-play"><path d="M5 5a2 2 0 0 1 3.008-1.728l11.997 6.998a2 2 0 0 1 .003 3.458l-12 7A2 2 0 0 1 5 19z"/></svg>
                    </div>
                    <span>Watch Demo</span>
                </button>
              </div>
              <div class="figma__img"></div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="features">
                <h3 class="features__title">
                    Say <span>goodbye</span> to Lorem Ipsum
                </h3>
                <p class="features__description">
                    Say hello to Relume Ipsum. It's 100x better.
                </p>
            </div>

            <div class="features__rows">
                <div class="features_item">
                    <img src="https://images.pexels.com/photos/33762640/pexels-photo-33762640.jpeg" alt="">
                    <div>
                        <h3 class="features_item__title">
                            Prevent project delays, get paid sooner
                        </h3>
                        <p class="features_item__description">
                            Don't wait on clients to provide you with copy. Instead use Relume Ipsum to keep your project moving along.
                        </p>
                    </div>
                </div>
                <div class="features_item">
                    <img src="https://images.pexels.com/photos/33762640/pexels-photo-33762640.jpeg" alt="">
                    <div>
                        <h3 class="features_item__title">
                            Improve your design process
                        </h3>
                        <p class="features_item__description">
                          Relume Ipsum generates real copy that can guide your design process, allowing you to create more cohesion.
                        </p>
                    </div>
                </div>
                <div class="features_item">
                    <img src="https://images.pexels.com/photos/33762640/pexels-photo-33762640.jpeg" alt="">
                    <div>
                        <h3 class="features_item__title">
                           Expand your service offering
                        </h3>
                        <p class="features_item__description">
                            Don't wait on clients to provide you with copy. Instead use Relume Ipsum to keep your project moving along.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
   </main>
</body>
</html>